.paginationLink,
.currentPaginationLink {
  margin-right: 1rem;
}

.paginationLink:visited,
.currentPaginationLink:visited {
  color: blue;
}

.currentPaginationLink {
  border: solid;
  padding: 0.25rem;
}
